HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!lattice-python-engine/app/main/**/build/
!lattice-python-engine/app/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!lattice-python-engine/app/main/**/bin/
!lattice-python-engine/app/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!lattice-python-engine/app/main/**/out/
!lattice-python-engine/app/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Runtime data volumes
pg_data/
pgadmin_data/
ntfy/

# Node modules & dist outputs
**/node_modules/
web-react/dist/
/lattice-pro/

# Ignore Gradle build output directory
build

# Logs
*.log
logs/
backend-run.log
__pycache__/
backend-app.pid


# 忽略所有 models 目录下的具体模型内容
**/models/vision/*
**/models/nlp/*
**/models/ocr/*
**/models/audio/*

# 明确忽略 OCR 使用的 .pth 权重文件
*.pth
*.pt
*.bin
*.safetensors

# 忽略下载时的临时锁文件
.locks/
